name: Create Release

on:
  push:
    branches:
    - main
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

env:
  GO_VERSION: 1.18

permissions: {}

jobs:
  ko-build:
    name: Release image
    runs-on: ubuntu-latest

    # https://docs.github.com/en/actions/reference/authentication-in-a-workflow
    permissions:
      id-token: write
      packages: write
      contents: read

    env:
      KO_DOCKER_REPO: ghcr.io/${{ github.repository }}
      COSIGN_EXPERIMENTAL: "true"

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
      with:
        egress-policy: audit

    - uses: actions/setup-go@b22fbbc2921299758641fab08929b4ac52b32923 # v2.2.0
      with:
        go-version: ${{ env.GO_VERSION }}
        check-latest: true

    - uses: imjasonh/setup-ko@2c3450ca27f6e6f2b02e72a40f2163c281a1f675 # v0.4

    - uses: sigstore/cosign-installer@7e0881f8fe90b25e305bbf0309761e9314607e25 # v2.3.0

    - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v2.4.0

    - name: Login to registry
      run: |
        echo ${{ github.token }} | docker login ghcr.io --username=${{ github.repository_owner }} --password-stdin

    - name: Publish/Sign image
      run: |
        # If not a tagged release, override image tag to "canary"
        if [[ $GITHUB_REF != refs/tags/* ]]; then
          export GIT_VERSION=canary
        fi
        make sign-image
